div p
{
color:orange;
font-size:80px;
font-family:georgia;
}


p{color:rgb(30%,40%,40%);}



body
{
background-image:url("/home/itsec3/2016cse193/pexels-photo.jpg");background-repeat:no-repeat;background-attachment:fixed;
}

.france
{word-spacing:60px;
}


